[Desktop Entry]
Type=Application
Name=Underscore
GenericName=Game Audio Ducker
Comment=Duck your music under in-game dialogue
Exec=underscore-gui
Icon=underscore
Terminal=false
Categories=AudioVideo;Audio;Game;Utility;
Keywords=ducking;volume;forza;music;spotify;game;
StartupNotify=true
